*{
    margin: 0;
    padding: 0;
}
/*  start header  */
body{
    font-family: "Open Sans", serif; 
}
html{
    scroll-behavior: smooth;
}
/*  start nav  */
.nav{
    padding: 15px 0px;
    position:  absolute;
    width: 100%;
    top: 60px;
    left: 0;
}
.nav_box{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav_brand{
    font-size: 25px;
    font-weight: bold;
}
.nav_brand a{
    text-decoration: none;
    color: white;

}
.nav_links a{
    color: white;
    text-decoration: none;
     align-items: center;
     padding: 0px 10px;
     transition: 0.3s;
}
.nav_links a:hover{
    color:#e7e7e7bb ;
}
/*  end nav  */
.header{
    color: white;
    text-align: center;
}
.header_box{
    
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url( ../imags/image_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    
    padding: 300px 0px;
    
}
 .header_box p{
    width: center;
    font-size: 45px;
    font-weight: 300px;
}
.header_link1{
    background-color: #1a57a5;
    border:1px solid #1a57a5;
    color: white;
    padding: 15px 25px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.5s;
}
.header_link1:hover{
    background-color: #103463;
    
}
.header_link2{
    color: white;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.5s;
}
.header_link2:hover{
    background-color: rgba(255, 255, 255, .3);
}
.header_links{
    margin: 35px;
}
/*  end header  */

/*  start services*/
.services{
    padding: 100px 0px;
}
.services_box{
    
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.service{
    width: 33%;
}
.services_top_icon{
    font-size: 70px;
    color: #1a57a5;

}
.service > h3{
    color: #1a57a5;
    font-size: 26px;
    font-weight: bold;
    padding: 28px 0px;
}
.service > p{
    color: gray;
    margin-bottom: 25px;
    width: 85%;
    line-height: 1.7;
}
.service a{
    color: #1a57a5;
    text-decoration: none;
    
}
.service a i{
    margin-left: 5px;
    font-size: 13px;
    transition: 0.5s;
}
.service a:hover i{
    margin-left: 15px;
    
}
/*  end services  */

/*  start features  */
.features{
    background-color: #D6E6F2;
    padding: 100px 0px;
}
.features_box{
    width: 90%;
    margin: 0px auto;
}
.section_top{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}
.section_top_title{
    font-size: 38px;
    font-weight: bold;
    
    display: block;
}
.section_top_line{
    background-color: #1a57a5;
    display: block;
    width: 70px;
    height: 3px;
    margin: 30px 0px;
}
.section_top p{
    color: grey;
    width: 60%;
}


.feature_item{
    display: flex;
    padding: 40px 0;
    

}
.feature_item_img img{
    width: 90%;
    border-radius: 15px;
background: #e0e0e0;
box-shadow:  5px 9px 10px #a6a6a6,
             -9px -9px 16px #ffffff;
             transition: 0.5s;
}
.feature_item_img{
    width: 55%;
}
.feature_item_info{
    width: 45%;
    color: #a6a6a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:60px ;
}
.feature_item_info h4{
    color: #103463;
    font-size:35px ;
    font-weight: bold;
}
.feature_item_info_text{
    width: 60%;
    padding: 30px 0;
}
.feature_item_info i{
    color: #103463;
    font-size: 20px;
    padding-right: 10px;
}
.feature_item_info_text2{
    padding: 5px 0;
    
}

/*  end features  */

/*start plans*/
.plans{
    background-color: #fff;
    padding: 100px 0px;
}
.plans_box{
    width: 75%;
    margin: 0 auto;
    
}
.plans_items{
    margin-top:50px ;
    display: flex;
    justify-content: space-evenly;
    
}
.plans_item{
    width: 30%;
    padding: 35px 25px;
    border: 1px solid #ebebeb;
    width: 25%;
    border-radius: 5px;
    
    

    
}
.plans_item_title{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    justify-content: center;
    
}
.plans_item_price{
    color: #1a57a5;
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    display: block;
    margin: 30px 0px;
}
.plans_item_text{
    color: #9c9c9c;
    margin-bottom:38px ;
    position: relative;
    right: -20px;
    font-size: 16px;
    line-height: 1.7
    
}
.plans_item_info{
    padding: 5px 0; 
    margin: 12px 0;
    color: #73767c;
    
    
    
    
}
.plans_item_info i{
    color: #103463;
    font-size:17px ;
    padding-right:7px ;
}
.plans_item a{
    background-color: black;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 45px;
    margin:38px 0;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px;
    
}
.plans_item a:hover{
background-color: #333;
}
.plans_item_link_box{
    display: flex;
    justify-content: center;
    
}
.plans_item.active{
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
    
}
.plans_item.active a{
    background-color: #1a57a5;
    transition: 0.5s;
    border-radius: 5px;
}
.plans_item.active a:hover{
background-color: #337ab7;
}
/*end plans*/
/*start comment*/
.comment{
    background-color: #D6E6F2;
    padding: 100px 0px;
}
.comment_box{
    margin:0 auto ;
    width: 75%;
}
.comment_items{
    
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.comment_item{
    background-color: white;
    width: 27%;
    padding: 30px;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 3px 3px 20px #73767c;
    
}
.comment_item img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.full_star{
    color: #F79F24;
    font-size: 14px;
}
.comment_item blockquote{
    line-height: 1.7;
    font-style: italic;
    margin: 20px 0px;
    font-size: 18px;
}
.comment_item span{
    color: grey;
}
/*end comment*/
/*  start today  */
.today{
    padding: 100px 0px;
}
.today_item{
    text-align: start;
    position: relative;
    right: -135px;
    
}
.today_box{
    width: 75%;
    margin: 0 auto;
}
.check{
    color: #1a57a5;
    font-size: 20px;
    padding-right:12px ;
    
}
.section_top_linke_blue{
    background-color: #1a57a5;
    border:1px solid #1a57a5;
    color: white;
    padding: 15px 25px;
    margin: 30px 0px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.5s;

}
.section_top_linke_blue:hover{
background-color: #103463;
}
.today_img{
    justify-content: center;
    align-items: center;
    margin: 90px 0px;
}
.today_img img{
    width: 85%;
}
.today_items{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.today_item{
    
    width: 49%;
    padding: 10px 0px;
    margin: 15px 0px;
}
.today_item span{
    padding: 5px 0px;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.today_item_text{
    color: gray;
    margin-top: 20px;
    
}
/*  end  today */

/*  start join  */
.join{
    background-color: #1a57a5;
}
.join_box{
    padding: 30px 0px;
    width: 100%;

    
}
.white{
    color: white;
    font-weight: normal;
    font-size: 32px;
    
}

.join a{
    background-color: #000;
    
    color: white;
    padding: 15px 25px;
    margin: 20px 0px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.5s;
}
.join a:hover{
    background-color: rgb(31, 31, 31);
}
.section1{
    position: relative;
    bottom: -40px;
}
.join_box p{
    padding: 20px 0px ;
    color: rgba(255, 255, 255, .7);
    
}

/*  end join  */

/*  start contact  */
.contact{
    background-color: #D6E6F2;
    padding: 70px 0px;
}
.contact_box{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.contact_form{
    background-color: red;
    width: 45%;
    border-radius: 3px;
}
.contact_info{
    width: 45%;
}
.contact_form form{
    background-color: white;
    padding: 40px 35px;
    box-shadow:  20px 45px -10px rgba(0, 0, 0, .15);
    
}
.contact_form_title{
    display: block;
    font-size: 28px;
    font-weight: 600 ;
    margin-bottom: 30px;
}
.contact_form .input1{
    display: block;
    width: 95%;
    padding: 15px 10px;
    margin: 14px 0px;
    
}
.contact_form textarea{
    display: block;
    width: 95%;
    padding: 15px 10px;
    
}
.contact_form_sub_btn{
    padding: 12px 45px;
    background-color: #1a57a5;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    transition: 1s;
}
.contact_form_sub_btn:hover{
    background-color: #103463;
}
.contact_info_title{
    color: gray;
    display: block;
}
.contact_info_text{
    display: block;
    color: #00000057;
    margin-bottom: 45px;
    margin-top:10px ;
}

/*  end contact  */

/*  start footer  */
footer{
    background-color: #1a57a5;
    padding: 70px 0px;
}
.footer_box{
    width: 75%;
    margin: 0 auto;
}
.footer_icons{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;


}
.footer_icons li{
display: inline;
}
.footer_icons li a{
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    font-size: 32px;
    margin: 0px 15px;
    transition: 0.5s;
}
.footer_icons li a:hover{
    color: white;
}

.footer_info{
    text-align: center;
    color: white;
}
.footer_info p{
    margin: 10px 0px;
}
.footer_info a{
    color:#337ab7 ;
    text-decoration: none;
    transition: 0.5s;
}
.footer_info a:hover{
color: white;
}
/*  end footer  */ 














